{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>

<br>
<br>
<br>
<br>

<div  class="col-sm-12 col-lg-12 col-xl-12">
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% if label == 'success' %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span>
            {% else %}
            <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
            <button type="button" class="btn btn-primary close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endfor %}
    </div>


    <form class="log" action="{{ path('resetToken') }}" method="post">

      <div class="sign-in">
            <label for="exampleInputPassword1">Adresse mail :</label>
            <input class="pass" type="email" placeholder="Saisissez l'adresse mail de récupération" name="email" id="exampleInputPassword1">
    
        <button class="sign-btn petit" type="submit">Envoyer</button>

      </div>
    </form>



    



{% endblock %}